<%- include('header') -%>
<h1>Succesfully Signed up!</h1>
<h2>Welcome abroad mr.<%= userName %></h2>
<h3>Go back to the Home page</h3>
<form action="/" method="get">
    <button type="submit" class="HomePagebtn">Home page</button>
</form>
<%- include('footer') -%>